<div class="sc-main-container">
<!-- navbar -->
  <nav class="sc-navbar">
    <h1 class="sc-logo">Mark</h1>
    <ul class="sc-nav-links">
      <li class="sc-nav-item"><a href="#">Work</a></li>
      <li class="sc-nav-item"><a href="#">CV</a></li>
      <li class="sc-nav-item"><a href="#">About</a></li>
      <li class="sc-nav-item"><a href="#">Contact</a></li>
    </ul>
  </nav>
<!-- end of navbar -->

<!-- banner section contains profile pic and headline -->
  <div class="sc-banner-container">
    <div class="sc-banner-title">
      
    </div>
    <div class="sc-profile-pic">
      
    </div>
  </div>
<!-- end of banner section -->

<!-- arrow navigation icon -->
  <div class="sc-arrow-nav">
    <i class="fas fa-arrow-alt-square-down"></i>
    <%= fa_icon "fa-arrow-alt-square-down" %>
  </div>
<!-- end of arrow navigation -->

<!-- skills section below -->
  <div class="sc-skills-container">
    
  </div>
<!-- end of skills section -->

</div>






















<!--  
<% @skills.each do |skill| %>
  <h2><%= skill.skill_name %></h2>
  <h2><%= skill.level %></h2>
  <h2><%= skill.years_of_experience %></h2>
<% end %>

<p>----------------------------</p>


<% @projects.each do |project| %>
  <h2><%= project.title %></h2>
  <h2><%= project.description %></h2>
<% end %>


<p>----------------------------</p>

<% @experiences.each do |experience| %>
  <h2><%= experience.experience_name %></h2>
  <h2><%= experience.company %></h2>
  <h2><%= experience.role %></h2>
  <h2><%= experience.locaiton %></h2>
<% end %>
-->

