<div class="sc-main-container">
<!-- navbar -->
  <nav class="sc-navbar">
    <h1 class="sc-logo">Mark Crelley</h1>
    <ul class="sc-nav-links">
      <li class="sc-nav-item"><a href="#">Work</a></li>
      <li class="sc-nav-item"><a href="#">CV</a></li>
      <li class="sc-nav-item"><a href="#">About</a></li>
      <li class="sc-nav-item"><a href="#">Contact</a></li>
    </ul>
  </nav>
<!-- end of navbar -->

<!-- banner section contains profile pic and headline -->
  <div class="sc-banner-container">
    <div class="sc-banner-title">
      <h1>Hi, I'm Mark.</h1>
      <h2>I'm a freelance Full-Stack web developer with a passion for creating cool shiz. </h2>
      <h3>Available for hire NOW!</h3>
    </div>
    <div class="sc-profile-pic">
      <%= image_tag "mark_profile", class: "sc-profile-pic" %>
    </div>
  </div>
<!-- end of banner section -->

<!-- arrow navigation icon -->
  <!-- <div class="sc-arrow-nav">
    <%= image_tag "down_arrow" %>
  </div> -->
<!-- end of arrow navigation -->

<!-- skills section below -->
  <h1 class="sc-cont-header">Skills</h1>
  <div class="sc-skills-container">
    <div class="sc-skills-grid">
      <div class="sc-skills-card">
        <h5>Ruby</h5>
        <h6>1 year</h6>
        <p>mediocre at best</p>
      </div>
      <div class="sc-skills-card">
        <h5>JS</h5>
        <h6>1 year</h6>
        <p>absolutely rubbish</p>
      </div>
      <div class="sc-skills-card">
        <h5>Rails</h5>
        <h6>1 year</h6>
        <p>piece of pish</p>
      </div>
      <div class="sc-skills-card">
        <h5>HTML & CSS</h5>
        <h6>1 year</h6>
        <p>no webflow</p>
      </div>
    </div>
  </div>
<!-- end of skills section -->

<!-- arrow navigation icon -->
 <!--  <div class="sc-arrow-nav">
    <%= image_tag "down_arrow" %>
  </div> -->
<!-- end of arrow navigation -->

<!-- projects section below -->
  <h1 class="sc-cont-header">Projects</h1>
  <div class="sc-projects-container">
    <div class="sc-project-card">
      <div class="sc-project-card-body">
        <h2>FreeMe</h2>
        <p>This app aims to be the platform to launch freelance careers in tech. What's the first thing you need to do? Create a profile (like this one). </p>
      </div>
      <div class="sc-project-card-img">
        <%= image_tag "freeme_index", class: "sc-project-card-img" %>
      </div>
    </div>
    <div class="sc-project-card">
      <div class="sc-project-card-body">
        <h2>Classicar</h2>
        <p>An absolutely awesome app that helps users to rent and lease fancy cars and live the life. Totally amazing app. </p>
      </div>
      <div class="sc-project-card-img">
        <%= image_tag "classicar_map", class: "sc-project-card-img" %>
      </div>
    </div>
    <div class="sc-project-card">
      <div class="sc-project-card-body">
        <h2>Wocha</h2>
        <p>Make movie watch lists in style with this no nonsense, no frills list maker. </p>
      </div>
      <div class="sc-project-card-img">
         <%= image_tag "wocha_index", class: "sc-project-card-img" %>
      </div>
    </div>
  </div>
<!-- end of projects section -->

<!-- arrow navigation icon -->
  <!-- <div class="sc-arrow-nav">
    <%= image_tag "down_arrow", class: "sc-arrow-right" %>
  </div> -->
<!-- end of arrow navigation -->

<!-- experience section -->
<h1 class="sc-cont-header">Experience</h1>
<div class="sc-exp-container">
  <div class="sc-exp-grid">
    <div class="sc-exp-card">
      <div class="sc-exp-card-img">
        <%= image_tag "ibm-logo-transparent", class: "sc-exp-card-img" %>
      </div>
      <div class="sc-exp-card-body">
        <h2>Full-Stack Developer</h2>
        <p>Created web based solutions to real world problems from start to finish, front to back.</p>
      </div>
    </div>
    <div class="sc-exp-card">
      <div class="sc-exp-card-img">
        <%= image_tag "google-logo", class: "sc-exp-card-img" %>
      </div>
      <div class="sc-exp-card-body">
        <h2>Full-Stack Developer</h2>
        <p>Created web based solutions to real world problems from start to finish, front to back.</p>
      </div>
    </div>
    <div class="sc-exp-card">
      <div class="sc-exp-card-img">
        <%= image_tag "squarespace_logo", class: "sc-exp-card-img" %>
      </div>
      <div class="sc-exp-card-body">
        <h2>Full-Stack Developer</h2>
        <p>Created web based solutions to real world problems from start to finish, front to back.</p>
      </div>
    </div>
  </div>
</div>
<!-- end of experience section -->
  
</div>

<!-- footer section -->
  <div class="sc-footer">
    <h5>LET'S CONNECT</h5>
    <h2>Want to know more or collaborate?</h2>
    <h2>Get in touch.</h2>
    <h5>mark@mark.com</h5>
  </div>
<!-- end of footer section -->




















<!--  
<% @skills.each do |skill| %>
  <h2><%= skill.skill_name %></h2>
  <h2><%= skill.level %></h2>
  <h2><%= skill.years_of_experience %></h2>
<% end %>

<p>----------------------------</p>


<% @projects.each do |project| %>
  <h2><%= project.title %></h2>
  <h2><%= project.description %></h2>
<% end %>


<p>----------------------------</p>

<% @experiences.each do |experience| %>
  <h2><%= experience.experience_name %></h2>
  <h2><%= experience.company %></h2>
  <h2><%= experience.role %></h2>
  <h2><%= experience.locaiton %></h2>
<% end %>
-->

