<% @skills.each do |skill| %>
  <div class="skill" id="skill-<%= skill.id %>">
    <h2><%= skill.skill_name %></h2>
    <h2><%= skill.level %></h2>
    <h2><%= skill.years_of_experience %></h2>
    <%= simple_form_for(skill) do |f| %>
      <%= f.input :skill_name %>
      <%= f.input :level %>
      <%= f.input :years_of_experience %>
      <%= f.submit "edit skill", class: "btn" %>
    <% end %>
  </div>
<% end %>

<p>----------------------------</p>


<% @projects.each do |project| %>
  <div class="project" id="project-<%= project.id %>">
    <h2><%= project.title %></h2>
    <h2><%= project.description %></h2>
    <%= simple_form_for(project) do |f| %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :photos, as: :file, input_html: { multople: true} %>
      <%= f.submit "edit project", class: "btn" %>
    <% end %>
  </div>
<% end %>


<p>----------------------------</p>

<% @experiences.each do |experience| %>
  <div class="experience" id="experience-<%= experience.id %>">
    <h2><%= experience.experience_name %></h2>
    <h2><%= experience.company %></h2>
    <h2><%= experience.role %></h2>
    <h2><%= experience.location %></h2>
    <%= simple_form_for(experience) do |f| %>
      <%= f.input :experience_name %>
      <%= f.input :company %>
      <%= f.input :role %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.input :location %>
      <%= f.input :website_url %>
      <%= f.input :summary %>
      <%= f.submit "edit experience", class: "btn" %>
    <% end %>
  </div>
<% end %>

<p>-----------------------------</p>

<%= simple_form_for([@user, @new_skill]) do |f| %>
  <%= f.input :skill_name %>
  <%= f.input :level %>
  <%= f.input :years_of_experience %>
  <%= f.submit "add skill", class: "btn" %>
<% end %>

<p>-----------------------------</p>

<%= simple_form_for([@user, @new_project]) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :photos, as: :file, input_html: { multople: true} %>
  <%= f.submit "add project", class: "btn" %>
<% end %>

<p>-----------------------------</p>

<%= simple_form_for([@user, @new_experience]) do |f| %>
  <%= f.input :experience_name %>
  <%= f.input :company %>
  <%= f.input :role %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :location %>
  <%= f.input :website_url %>
  <%= f.input :summary %>
  <%= f.submit "add experience", class: "btn" %>
<% end %>
