<div class="sc-main-container">
<!-- navbar -->
  <nav class="sc-navbar">
    <h1 class="sc-logo">Mark</h1>
    <ul class="sc-nav-links">
      <li class="sc-nav-item"><a href="#">Work</a></li>
      <li class="sc-nav-item"><a href="#">CV</a></li>
      <li class="sc-nav-item"><a href="#">About</a></li>
      <li class="sc-nav-item"><a href="#">Contact</a></li>
    </ul>
  </nav>
<!-- end of navbar -->

<!-- banner section contains profile pic and headline -->
  <div class="sc-banner-container">
    <div class="sc-banner-title">
      <h1>Hi, I'm Mark.</h1>
      <h2>I'm a freelance Full-Stack web developer with a passion for creating cool shiz. </h2>
      <h3>Available for hire NOW!</h3>
    </div>
    <div class="sc-profile-pic">
      <%= image_tag "mark_profile", class: "sc-profile-pic" %>
    </div>
  </div>
<!-- end of banner section -->

<!-- arrow navigation icon -->
  <div class="sc-arrow-nav">
    <%= image_tag "down_arrow" %>
  </div>
<!-- end of arrow navigation -->

<!-- skills section below -->
  <h1 class="sc-cont-header">Skills</h1>
  <div class="sc-skills-container">
    <div class="sc-skills-grid">
      <div class="sc-skills-card">
        
      </div>
      <div class="sc-skills-card">
        
      </div>
      <div class="sc-skills-card">
        
      </div>
      <div class="sc-skills-card">
        
      </div>
    </div>
  </div>
<!-- end of skills section -->

<!-- arrow navigation icon -->
  <div class="sc-arrow-nav">
    <%= image_tag "down_arrow" %>
  </div>
<!-- end of arrow navigation -->

<!-- projects section below -->
  <div class="sc-projects-container">
    <div class="sc-project-card">
      <div class="sc-project-card-body">
        
      </div>
      <div class="sc-project-card-img">
        
      </div>
    </div>
    <div class="sc-project-card">
      <div class="sc-project-card-body">
        
      </div>
      <div class="sc-project-card-img">
        
      </div>
    </div>
  </div>
<!-- end of projects section -->

<!-- arrow navigation icon -->
  <div class="sc-arrow-nav">
    <%= image_tag "down_arrow" %>
  </div>
<!-- end of arrow navigation -->

<!-- experience section -->
<div class="sc-exp-container">
  <div class="sc-exp-grid">
    <div class="sc-exp-card">
      <div class="sc-exp-card-img">
        
      </div>
      <div class="sc-exp-card-body">
        
      </div>
    </div>
    <div class="sc-exp-card">
      <div class="sc-exp-card-img">
        
      </div>
      <div class="sc-exp-card-body">
        
      </div>
    </div>
    <div class="sc-exp-card">
      <div class="sc-exp-card-img">
        
      </div>
      <div class="sc-exp-card-body">
        
      </div>
    </div>
    <div class="sc-exp-card">
      <div class="sc-exp-card-img">
        
      </div>
      <div class="sc-exp-card-body">
        
      </div>
    </div>
  </div>
</div>
<!-- end of experience section -->
  
</div>

<!-- footer section -->
  <div class="sc-footer">
    
  </div>
<!-- end of footer section -->




















<!--  
<% @skills.each do |skill| %>
  <h2><%= skill.skill_name %></h2>
  <h2><%= skill.level %></h2>
  <h2><%= skill.years_of_experience %></h2>
<% end %>

<p>----------------------------</p>


<% @projects.each do |project| %>
  <h2><%= project.title %></h2>
  <h2><%= project.description %></h2>
<% end %>


<p>----------------------------</p>

<% @experiences.each do |experience| %>
  <h2><%= experience.experience_name %></h2>
  <h2><%= experience.company %></h2>
  <h2><%= experience.role %></h2>
  <h2><%= experience.locaiton %></h2>
<% end %>
-->

