<%= render 'shared/navbar' %>

<div class="sc-main-container">

  <section class="s1">
  <!-- banner section contains profile pic and headline -->
    <div class="sc-banner-container">
      <div class="sc-banner-title">
        <h1>Hi, I'm <%= @user.username %></h1>
        <h2><%= @user.headline %></h2>
        <h3>Available for hire NOW!</h3>
      </div>
      <div class="sc-profile-pic">
        <%= image_tag "mark_profile", class: "sc-profile-pic" %>
      </div>
    </div>
  </section>
  <!-- end of banner section -->
  <!-- skills section below -->
  <section class="s2">
  <h1 class="sc-cont-header">Skills</h1>
  <div class="sc-skills-container">

    <div class="sc-skills-grid">
      <% @skills.each do |skill| %>
      <div class="sc-skills-card">
        <%= skill.skill_name %>
        <%= skill.level %>
        <%= skill.years_of_experience %>
        <button type="button" class="btn-modal btn-primary" data-toggle="modal" data-target="#editSkillModal<%= skill.id %>">Edit</button>
      </div>
      <div class="modal fade" id="editSkillModal<%= skill.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Skill</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="skill" id="skill-<%= skill.id %>">
                <%= skill.skill_name %>
                <%= simple_form_for(skill) do |f| %>
                  <%= f.input :skill_name %>
                  <%= f.input :level %>
                  <%= f.input :years_of_experience %>
                  <%= f.submit "edit skill", class: "btn-edit" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>


      <% end %>
    </div>
  <!-- modal add skill form -->
    <div class="modal fade" id="addSkillModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          <%= simple_form_for([@user, @new_skill]) do |f| %>
            <%= f.input :skill_name %>
            <%= f.input :level %>
            <%= f.input :years_of_experience %>
            <div class="modal-footer">
              <%= f.submit "add skill", class: "btn" %>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn-modal btn-primary" data-toggle="modal" data-target="#addSkillModal">Add</button>
  </section>

  <!-- add skillmodal button -->

  <!-- end of skills section -->

  <!-- projects section below -->

  <h1 class="sc-cont-header">Projects</h1>

  <div class="sc-projects-container">
    <% @projects.each do |project| %>
    <div class="sc-project-card">
      <div class="project" id="project-<%= project.id %>">
        <h2><%= project.title %></h2>
        <h2><%= project.description %></h2>
        <%= cl_image_tag project.photo.key, width: 500, crop: :pad %>
        <button type="button" class="btn-modal btn-primary" data-toggle="modal" data-target="#editprojectModal<%= project.id %>">Edit</button>
      </div>
    </div>
    <div class="modal fade" id="editProjectModal<%= project.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Skill</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="project" id="project-<%= project.id %>">
                <%= project.title %>
                <%= simple_form_for(project) do |f| %>
                  <%= f.input :title %>
                  <%= f.input :description %>
                  <%= f.input :photo, as: :file %>
                  <%= f.submit "edit project", class: "btn" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div>


  
  <%= simple_form_for([@user, @new_project]) do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "add project", class: "btn" %>
  <% end %>

  <div class="sc-projects-container">
    <div class="sc-project-card">
      <div class="sc-project-card-body">
        <h2>FreeMe</h2>
        <p>This app aims to be the platform to launch freelance careers in tech. What's the first thing you need to do? Create a profile (like this one). </p>
      </div>
      <div class="sc-project-card-img">
        <%= image_tag "freeme_index", class: "sc-project-card-img" %>
      </div>
    </div>
    <div class="sc-project-card">
      <div class="sc-project-card-body">
        <h2>Classicar</h2>
        <p>An absolutely awesome app that helps users to rent and lease fancy cars and live the life. Totally amazing app. </p>
      </div>
      <div class="sc-project-card-img">
        <%= image_tag "classicar_map", class: "sc-project-card-img" %>
      </div>
    </div>
    <div class="sc-project-card">
      <div class="sc-project-card-body">
        <h2>Wocha</h2>
        <p>Make movie watch lists in style with this no nonsense, no frills list maker. </p>
      </div>
      <div class="sc-project-card-img">
         <%= image_tag "wocha_index", class: "sc-project-card-img" %>
      </div>
    </div>
  </div>
<!-- end of projects section -->


  <!-- end of main div -->
</div>



<!-- experience section -->
<h1 class="sc-cont-header">Experience</h1>
<div class="sc-exp-container">
  <div class="sc-exp-grid">
    <div class="sc-exp-card">
      <div class="sc-exp-card-img">
        <%= image_tag "ibm-logo-transparent", class: "sc-exp-card-img" %>
      </div>
      <div class="sc-exp-card-body">
        <h2>Full-Stack Developer</h2>
        <p>Created web based solutions to real world problems from start to finish, front to back.</p>
      </div>
    </div>
    <div class="sc-exp-card">
      <div class="sc-exp-card-img">
        <%= image_tag "google-logo", class: "sc-exp-card-img" %>
      </div>
      <div class="sc-exp-card-body">
        <h2>Full-Stack Developer</h2>
        <p>Created web based solutions to real world problems from start to finish, front to back.</p>
      </div>
    </div>
    <div class="sc-exp-card">
      <div class="sc-exp-card-img">
        <%= image_tag "squarespace_logo", class: "sc-exp-card-img" %>
      </div>
      <div class="sc-exp-card-body">
        <h2>Full-Stack Developer</h2>
        <p>Created web based solutions to real world problems from start to finish, front to back.</p>
      </div>
    </div>
  </div>
</div>
<!-- end of experience section -->

</div>

<!-- footer section -->
  <div class="sc-footer">
    <h5>LET'S CONNECT</h5>
    <h2>Want to know more or collaborate?</h2>
    <h2>Get in touch.</h2>
    <h5>mark@mark.com</h5>
  </div>
<!-- end of footer section -->







