<%= render 'shared/navbar' %>

<div class="sc-main-container">

  <section class="s1">

  <!-- banner section contains profile pic and headline -->
    <div class="sc-banner-container">
      <div class="sc-banner-title">

        <h1>Hi, I'm <%= @user.username %></h1>
        <h2><%= @user.headline %></h2>
        <h3>Available for hire NOW!</h3>
      </div>
      <div>
        <%= simple_form_for(@user) do |f| %>
          <%= f.input :username %>
          <%= f.submit "add name", class: "btn-edit" %>
        <% end %>
      </div>
      <div class="sc-profile-pic">
        <% if @user.photo.attached? %>
          <%= cl_image_tag @user.photo.key, class: "sc-profile-pic" %>
        <% else %>
          <%= image_tag "avatar", class: "sc-profile-pic" %>
        <% end %>

        <div>
          <%= simple_form_for(@user) do |f| %>
            <%= f.input :photo, as: :file %>
            <%= f.submit "add photo", class: "btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <!-- end of banner section -->
  <!-- skills section below -->
  <section class="s2">
  <h1 class="sc-cont-header">Skills</h1>
  <div class="sc-skills-container">

    <div class="sc-skills-grid">
      <% @skills.each do |skill| %>
      <div class="sc-skills-card">
        <%= skill.skill_name %>
        <%= skill.level %>
        <%= skill.years_of_experience %>
        <button type="button" class="btn-modal btn-primary" data-toggle="modal" data-target="#editSkillModal<%= skill.id %>">Edit</button>
      </div>
      <div class="modal fade" id="editSkillModal<%= skill.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Skill</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="skill" id="skill-<%= skill.id %>">
                <%= skill.skill_name %>
                <%= simple_form_for(skill) do |f| %>
                  <%= f.input :skill_name %>
                  <%= f.input :level %>
                  <%= f.input :years_of_experience %>
                  <%= f.submit "edit skill", class: "btn-edit" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>


      <% end %>
    </div>
  <!-- modal add skill form -->
    <div class="modal fade" id="addSkillModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          <%= simple_form_for([@user, @new_skill]) do |f| %>
            <%= f.input :skill_name %>
            <%= f.input :level %>
            <%= f.input :years_of_experience %>
            <div class="modal-footer">
              <%= f.submit "add skill", class: "btn" %>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn-modal btn-primary" data-toggle="modal" data-target="#addSkillModal">Add</button>
  </section>

  <!-- add skillmodal button -->

  <!-- end of skills section -->

  <!-- projects section below -->

  <h1 class="sc-cont-header">Projects</h1>

  <div class="sc-projects-container">
    <% @projects.each do |project| %>
    <div class="sc-project-card">
      <div class="sc-project-card-body">
        <h2><%= project.title %></h2>
        <p><%= project.description %></p>
        <button type="button" class="btn-modal btn-primary" data-toggle="modal" data-target="#editProjectModal<%= project.id %>">Edit</button>
      </div>
      <div class="sc-project-card-img">
        <%= cl_image_tag project.photo.key, class: 'sc-project-card-img' %>

      </div>
    </div>
    <div class="modal fade" id="editProjectModal<%= project.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Project</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="project" id="project-<%= project.id %>">
                <%= project.title %>
                <%= simple_form_for(project) do |f| %>
                  <%= f.input :title %>
                  <%= f.input :description %>
                  <%= f.input :photo, as: :file %>
                  <%= f.submit "edit project", class: "btn" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="modal fade" id="addProjectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= simple_form_for([@user, @new_project]) do |f| %>
              <%= f.input :title %>
              <%= f.input :description %>
              <%= f.input :photo, as: :file %>
              <div class="modal-footer">
                <%= f.submit "add project", class: "btn" %>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn-modal btn-primary" data-toggle="modal" data-target="#addProjectModal">Add</button>
<!-- end of projects section -->
  <!-- end of main div -->




<!-- experience section -->
  <h1 class="sc-cont-header">Experience</h1>

  <div class="sc-exp-container">


    <% @experiences.each do |experience| %>
    <div class="sc-exp-grid">
      <div class="sc-exp-card-card">
        <div class="experience" id="experience-<%= experience.id %>">
          <h2><%= experience.experience_name %></h2>
          <h2><%= experience.company %></h2>
          <h2><%= experience.role %></h2>
          <h2><%= experience.location %></h2>
          <h2><%= experience.summary %></h2>
          <button type="button" class="btn-modal btn-primary" data-toggle="modal" data-target="#editExperienceModal<%= experience.id %>">Edit</button>
        </div>
      </div>
      <div class="modal fade" id="editExperienceModal<%= experience.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Experience</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= simple_form_for(experience) do |f| %>
                <%= f.input :experience_name %>
                <%= f.input :company %>
                <%= f.input :role %>
                <%= f.input :start_date %>
                <%= f.input :end_date %>
                <%= f.input :location %>
                <%= f.input :website_url %>
                <%= f.input :summary %>
                <%= f.submit "edit experience", class: "btn" %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="modal fade" id="addExperienceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Experience</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= simple_form_for([@user, @new_experience]) do |f| %>
              <%= f.input :experience_name %>
              <%= f.input :company %>
              <%= f.input :role %>
              <%= f.input :start_date %>
              <%= f.input :end_date %>
              <%= f.input :location %>
              <%= f.input :website_url %>
              <%= f.input :summary %>
              <%= f.submit "add experience", class: "btn" %>
            <% end %>
          </div>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn-modal btn-primary" data-toggle="modal" data-target="#addExperienceModal">Add</button>



  <!-- end of experience section -->

</div>

<!-- footer section -->
  <div class="sc-footer">
    <h5>LET'S CONNECT</h5>
    <h2>Want to know more or collaborate?</h2>
    <h2>Get in touch.</h2>
    <h5>mark@mark.com</h5>
  </div>
<!-- end of footer section -->







