<%= render 'shared/navbar' %>

<div class="pr-main-container">

  <section class="s1">

  <!-- banner section contains profile pic and headline -->
    <div class="pr-banner-container">
      <div class="pr-banner-title">

        <div class="modal fade" id="editInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div>
                  <%= simple_form_for(@user) do |f| %>
                    <%= f.input :first_name %>
                    <%= f.input :last_name %>
                    <%= f.input :headline %>
                    <%= f.input :photo, as: :file %>
                    <%= f.submit "Edit", class: "site-btn" %>
                  <% end %>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="left-column">
          <div class="user-info">

            <button id="user-info-btn" type="button" class="icon-btn" data-toggle="modal" data-target="#editInfoModal"><i class="fa fa-edit"></i></button>

            <h1>Hi, I'm <%= @user.first_name %></h1>
            <h2><%= @user.headline %></h2>
            <h3>Available for hire NOW!</h3>

          </div>
          <div class="theme-container">
              <h5 style="text-align: center; line-height: 0;">Personalize Theme</h5>

          <div id="theme-option-wrapper">
            <div data-mode='light' id="light-mode" class="theme-dot"></div>
            <div data-mode='blue' id="blue-mode" class="theme-dot"></div>
            <div data-mode='green' id="green-mode" class="theme-dot"></div>
            <div data-mode='purple' id="purple-mode" class="theme-dot"></div>
          </div>
          <p id="settings-note" >*Theme setting will be saved for <br>Next visit!</p>
        </div>
      </div>
    </div>
      <!-- user basic info end -->
      <!-- user picture div start -->
    <div class="pr-profile-pic">
      <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, class: "pr-profile-pic" %>
      <% else %>
        <%= image_tag "avatar.svg", class: "sc-profile-pic" %>
      <% end %>
    </div>
    <!-- user picture div end -->
  </div>
  </section>
  <!-- end of banner section -->

  <!-- skills section below -->
  <section class="s2">
    <h1 class="pr-cont-header">Skills<button type="button" class="icon-btn" data-toggle="modal" data-target="#addSkillModal"><i class="fa fa-plus" aria-hidden="true"></i>
    </button></h1>
    <div class="pr-skills-container">
      <div class="pr-skills-grid">

        <ul id="sortlist">
        <% @skills.each do |skill| %>
          <li draggable='true'>
            <div class="pr-skills-card">
              <div class="pr-skills-info">
                <%= skill.skill_name %>
                <br>
                <%= skill.level %>
                <br>
                <%= skill.years_of_experience %>
                <br>
              </div>
              <div class="pr-skill-edit-btn">
                <button type="button" class="icon-btn" data-toggle="modal" data-target="#editSkillModal<%= skill.id %>"><i class="fa fa-edit"></i>
                </button>

                <%= link_to skill_path(skill), method: :delete,class: 'icon-btn', data: { confirm: 'Are you sure you want to delete this skill?' } do %>
                  <i class="far fa-trash-alt"></i>
               <% end %>

              </div>
            
              <%= skill.skill_name %>
              <%= skill.level %>
              <%= skill.years_of_experience %>
              <button type="button" class="icon-btn" data-toggle="modal" data-target="#editSkillModal<%= skill.id %>"><i class="fa fa-edit"></i>
              </button>
              <%= link_to skill_path(skill), method: :delete,
                                                       class: 'icon-btn',
                                                       data: { confirm: 'Are you sure you want to delete this skill?' } do %>
                                                       <i class="far fa-trash-alt"></i>
                                                       <% end %>
            </div>
          </li>

        <div class="modal fade" id="editSkillModal<%= skill.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Skill</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="skill" id="skill-<%= skill.id %>">
                  <%= skill.skill_name %>
                  <%= simple_form_for(skill) do |f| %>
                    <%= f.input :skill_name %>
                    <%= f.input :level %>
                    <%= f.input :years_of_experience %>
                    <%= f.submit "Update", class: "site-btn" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
        </ul>

      </div>
      <div class="modal fade" id="addSkillModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            <%= simple_form_for([@user, @new_skill]) do |f| %>
              <%= f.input :skill_name %>
              <%= f.input :level %>
              <%= f.input :years_of_experience %>
              <div class="modal-footer">
                <%= f.submit "add skill", class: "site-btn" %>

        <div class="modal fade" id="addSkillModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
              <%= simple_form_for([@user, @new_skill]) do |f| %>
                <%= f.input :skill_name %>
                <%= f.input :level %>
                <%= f.input :years_of_experience %>
                <div class="modal-footer">
                  <%= f.submit "add skill", class: "site-btn" %>
                </div>
              <% end %>

              </div>
            <% end %>
            </div>
          </div>
        </div>
      </div>
 <!-- add skillmodal button -->
    </div>
  </section>
  <!-- end of skills section -->

  <!-- projects section below -->
  <section class="s3">

    <h1 class="pr-cont-header">Projects<button type="button" class="icon-btn" data-toggle="modal" data-target="#addProjectModal"><i class="fa fa-plus" aria-hidden="true"></i>
    </button></h1>

    <div class="pr-projects-container">

      <% @projects.each do |project| %>
      <div class="pr-project-card">
        <div class="pr-project-card-body">

          <div class="project-left">
            <h2><%= project.title %></h2>
          </div>
          <div class="project-right">
            <button type="button" class="icon-btn" data-toggle="modal" data-target="#editProjectModal<%= project.id %>"><i class="fa fa-edit"></i></button>

            <%= link_to project_path(project), method: :delete,class: 'icon-btn', data: { confirm: 'Are you sure you want to delete this skill?' } do %>
                  <i class="far fa-trash-alt"></i>
            <% end %>
          </div>
        
          <div>
          <h2><%= project.title %></h2>

          <p class="pr-card-descrition"><%= project.description %></p>
            <div>
              <button type="button" class="icon-btn" data-toggle="modal" data-target="#editProjectModal<%= project.id %>"><i class="fa fa-edit"></i></button>

              <%= link_to project_path(project), method: :delete,
                                                           class: 'icon-btn',
                                                           data: { confirm: 'Are you sure you want to delete this project?'} do %>
                                                           <i class="far fa-trash-alt"></i>
                                                           <% end %>
            </div>
          </div>
        </div>

        <div class="pr-project-card-img">
          <%= cl_image_tag project.photo.key, class: 'pr-project-card-img' %>
        </div>
      </div>

      <div class="modal fade" id="editProjectModal<%= project.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="project" id="project-<%= project.id %>">
                  <%= project.title %>
                  <%= simple_form_for(project) do |f| %>
                    <%= f.input :title %>
                    <%= f.input :description %>
                    <%= f.input :photo, as: :file %>
                    <%= f.submit "Update", class: "site-btn" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="modal fade" id="addProjectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= simple_form_for([@user, @new_project]) do |f| %>
                <%= f.input :title %>
                <%= f.input :description %>
                <%= f.input :photo, as: :file %>
                <div class="modal-footer">
                  <%= f.submit "add project", class: "site-btn" %>
                </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- end of main div -->
  </section>
<!-- end of projects section -->


<!-- experience section -->
  <section class="s4">

    <h1 class="pr-cont-header">Experience<button id="addExpBtn" type="button" class="icon-btn " data-toggle="modal" data-target="#addExperienceModal"><i class="fa fa-plus" aria-hidden="true"></i>
    </button></h1>

    <div class="pr-exp-container">

      <div class="pr-exp-grid">
        <% @experiences.each do |experience| %>
        <div class="pr-exp-card">
          <div class="experience" id="experience-<%= experience.id %>">
            <h2><%= experience.experience_name %></h2>
            <h2><%= experience.company %></h2>
            <h2><%= experience.role %></h2>
            <h2><%= experience.location %></h2>
            <h2><%= experience.summary %></h2>
            <h2><%= experience.start_date.strftime("%B #{experience.start_date.day.ordinalize} %Y") %></h2>
            <h2><%= experience.end_date.strftime("%B #{experience.end_date.day.ordinalize} %Y") %></h2>
          </div>

          <button type="button" class="icon-btn" data-toggle="modal" data-target="#editExperienceModal<%= experience.id %>"><i class="fa fa-edit"></i></button>

          <%= link_to experience_path(experience), method: :delete,
                                                       class: 'icon-btn',
                                                       data: { confirm: 'Are you sure you want to delete this experience?'} do %>
                                                       <i class="far fa-trash-alt"></i>
                                                       <% end %>

        </div>

        <div class="modal fade" id="editExperienceModal<%= experience.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Experience</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= simple_form_for(experience) do |f| %>
                  <%= f.input :experience_name %>
                  <%= f.input :company %>
                  <%= f.input :role %>
                  <%= f.input :start_date %>
                  <%= f.input :end_date %>
                  <%= f.input :location %>
                  <%= f.input :website_url %>
                  <%= f.input :summary %>
                  <%= f.submit "edit experience", class: "site-btn" %>
              <% end %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>


      <div class="modal fade" id="addExperienceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-plus" aria-hidden="true"></i>
</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= simple_form_for([@user, @new_experience]) do |f| %>
              <%= f.input :experience_name %>
              <%= f.input :company %>
              <%= f.input :role %>
              <%= f.input :start_date %>
              <%= f.input :end_date %>
              <%= f.input :location %>
              <%= f.input :website_url %>
              <%= f.input :summary %>
              <%= f.submit "add experience", class: "site-btn" %>
            <% end %>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end of experience section -->

  <!-- CV section -->

  <section class="s5">
  <h1 class="pr-cont-header">CV<button type="button" class="icon-btn" data-toggle="modal" data-target="#addCVModal"><i class="fa fa-plus" aria-hidden="true"></i></button></h1>

    <div class="pr-exp-container">
      <% if @user.cv.present? %>
        <button type="button" class="site-btn" data-toggle="modal" data-target="#addCVModal">Update CV</button>
      <% else %>
        <button type="button" class="site-btn" data-toggle="modal" data-target="#addCVModal">Add CV</button>
      <% end %>
      <div class="modal fade" id="addCVModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Copy and paste a link to your CV</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div>
                  <%= simple_form_for(@user) do |f| %>
                    <%= f.input :cv %>
                    <%= f.submit "Add CV", class: "site-btn" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  <!-- about section -->
  <section class="s6">
    <h1 class="pr-cont-header">About</h1>
    <div class="pr-exp-container">
      <% if @user.about.present? %>
        <button type="button" class="icon-btn" data-toggle="modal" data-target="#addAboutModal">Update About</button>
      <% else %>
        <button type="button" class="icon-btn" data-toggle="modal" data-target="#addAboutModal"><i class="fa fa-plus" aria-hidden="true"></i></button>
      <% end %>

      <div class="pr-banner-title">

        <div class="modal fade" id="addAboutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">About</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div>
                  <%= simple_form_for(@user) do |f| %>
                    <%= f.input :about %>
                    <%= f.submit "Add", class: "site-btn" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  </section>
    
  <!-- end of CV section -->


<!-- footer section -->
  <div class="pr-footer">
    <h5>LET'S CONNECT</h5>
    <h2>Want to know more or collaborate?</h2>
    <h2>Get in touch.</h2>
    <h5>mark@mark.com</h5>
  </div>
<!-- end of footer section -->

</div>




