<div class="sc-main-container">
<!-- navbar -->
  <nav class="sc-navbar">
    <h1 class="sc-logo"><%= @user.username %></h1>
    <ul class="sc-nav-links">
      <li class="sc-nav-item"><a href="#">Work</a></li>
      <li class="sc-nav-item"><a href="#">CV</a></li>
      <li class="sc-nav-item"><a href="#">About</a></li>
      <li class="sc-nav-item"><a href="#">Contact</a></li>
    </ul>
  </nav>
<!-- end of navbar -->

<!-- banner section contains profile pic and headline -->
  <div class="sc-banner-container">
    <div class="sc-banner-title">
      <h1>Hi, I'm <%= @user.username %>.</h1>
      <h2><%= @user.headline %></h2>
      <h3>Available for hire NOW!</h3>
    </div>
    <div class="sc-profile-pic">
      <% if @user.photo.attached? %>
          <%= cl_image_tag @user.photo.key, class: "sc-profile-pic" %>
        <% else %>
          <%= image_tag "avatar.svg", class: "sc-profile-pic" %>
        <% end %>
    </div>
  </div>
<!-- end of banner section -->

<!-- skills section below -->
  <h1 class="sc-cont-header">Skills</h1>
  <div class="sc-skills-container">
    <div class="sc-skills-grid">
      <% @skills.each do |skill| %>
      <div class="sc-skills-card">
        <h5><%= skill.skill_name %></h5>
        <h6>1 year<%= skill.years_of_experience %></h6>
        <p><%= skill.level %></p>
      </div>
      <% end %>
    </div>
  </div>
<!-- end of skills section -->

<!-- projects section below -->
  <h1 class="sc-cont-header">Projects</h1>
  <div class="sc-projects-container">
    <% @projects.each do |project| %>
    <div class="sc-project-card">
      <div class="sc-project-card-body">
        <h2><%= project.title %></h2>
        <p><%= project.description %></p>
      </div>
      <div class="sc-project-card-img">
        <%= cl_image_tag project.photo.key, class: 'sc-project-card-img' %>
      </div>
    </div>
    <% end %>
  </div>
<!-- end of projects section -->

<!-- experience section -->
<h1 class="sc-cont-header">Experience</h1>
<div class="sc-exp-container">
  <div class="sc-exp-grid">
    <% @experiences.each do |experience| %>
    <div class="sc-exp-card">
      <div class="sc-exp-card-img">
        <%= cl_image_tag experience.photo.key, class: 'sc-exp-card-img' %>
      </div>
      <div class="sc-exp-card-body">
        <h2><%= experience.role %></h2>
        <p><%= experience.summary %></p>
        <p class="sc-exp-card-body-date"><%= experience.start_date %> to <%= experience.end_date %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
<!-- end of experience section -->
  
</div>

<!-- footer section -->
  <div class="sc-footer">
    <h5>LET'S CONNECT</h5>
    <h2>Want to know more or collaborate?</h2>
    <h2>Get in touch.</h2>
    <h5><%= @user.email %></h5>
  </div>
<!-- end of footer section -->

